.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: #f5f5f5;
  .logo {
    width: 150px;
  }
  .searchForm {
    flex: 0 1 500px;
    position: relative;
    .searchIcon {
      position: absolute;
      top: 10px;
      left: 12px;
    }
    .searchBar {
      width: 100%;
      padding: 10px;
      border: none;
      background: #fff;
      border-radius: 10px;
      padding-left: 60px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
    li {
      img {
        width: 24px;
        height: 24px;
      }
      background: white;
      border-radius: 10px;
      padding: 7px;
    }
  }
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
  border-top: 1px solid #f6eeee;
  padding: 10px;
  margin: 0;
  li {
    text-transform: capitalize;
    cursor: pointer;
  }
}
