.quantity {
  background-color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
  cursor: pointer;

  .minus,
  .plus {
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 5px;
  }
}
