.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: white;
  .searchForm {
    flex: 0 1 500px;
    position: relative;
    .searchIcon {
      position: absolute;
      top: 10px;
      left: 12px;
    }
    .searchBar {
      width: 100%;
      padding: 10px;
      border: none;
      background: #ede9e9;
      border-radius: 50px;
      padding-left: 60px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
}
