.pagination {
  margin-top: 15px;
  ul {
    display: flex;
    flex: auto;
    gap: 10px;
    justify-content: center;
    li {
      padding: 8px 17px;
      background-color: white;
      border-radius: 10px;
      list-style: none;
      box-shadow: 1px 2px 3px 0px rgb(228 221 221 / 35%);
    }
    li.selected {
      background: #e60f47;
      color: white;
    }
  }
}
